<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Training Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/script.js"></script>
</head>

<body>
    <h1><%= title %></h1>
    <div class="container">
        <!-- <div class="m"></div><br> -->
        <div class="m1"></div><br>
        <div class="m2"></div><br>
        <div class="m3"></div><br>
        <div class="m4"></div><br>
        <div class="m5"></div><br>
        <div class="m6"></div><br>
        <div class="m7"></div><br>
        <div class="m8"></div><br>
        <div class="m9"></div><br>
        <div class="m10"></div><br>
        <div class="m11"></div><br>
        <div class="m12"></div><br>
    </div>
</body>

</html>